<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% for message in app.session.flashBag.get('info') %}
        <div class="bg-blue-500">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('succes') %}
        <div class="bg-green-500">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('error') %}
        <div class="bg-red-600">
            {{ message }}
        </div>
    {% endfor %}
    <div class=" bg-gray-500 max-h-full max-w-[800px] m-auto mt-10 p-10">
        <h1 class="text-2xl uppercase text-center font-mono">Todo liste</h1>
        <div class=" list-none">
            {% for todo in todos %}
                <a href="{{ path('todo.detail', {id: todo.id()}) }}">
                    <li class="text-xl flex text-black justify-between" >
                        <span class="text-white uppercase">{{ todo.author }}</span> {{ todo.tache }}
                    </li>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>